importFrom(stats,predict,p.adjust)
importFrom(st,studentt.stat,efront.stat,shrinkt.stat)
importFrom(fdrtool,fdrtool)
importFrom(limma,lmFit,eBayes)
importFrom(samr,samr)
import(Biobase)
import(qvalue)

export(ES.prot,Norm.qt,Norm.vsn,RIplot,Sim.Prot.2D,efronT.Prot,modT.Prot,
       samT.Prot,shrinkT.Prot,ttest.Prot,robust.fdr)
